
Assessment/.DS_Store
Assessment/.DS_Store
Example Assessment/.idea/inspectionProfiles/profiles_settings.xml
Example Assessment/.idea/inspectionProfiles/Project_Default.xml
Example Assessment/.idea/misc.xml
Example Assessment/.idea/modules.xml
Example Assessment/.idea/vcs.xml
Assessment/.DS_Store
.DS_Store
